body {
    background-color: rgb(208, 255, 0);
  }
  
  h1 {
    color: rgb(53, 3, 100);
    margin-left: 60px;
    font-size: 100px;
  }
  #para1 {
    text-align: center;
    color: rgb(0, 255, 234, 0.904);
  }

  .center {
    text-align: center;
    color: rgb(0, 255,0);
  }